@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    --primary: #274472;
    --secondary: #2279CC; 
    --yellow: #FDCD34;      

    --background: #f2f4f9;  
    --text-primary: #183153; 
    --text-secondary: #4b5563; 
    --border: #e5e7eb;  

    --gradient-start: #E2EAF2;
    --gradient-end: #f2f4f9;

    --font-primary:"DM Sans", sans-serif;
    --font-secondary:Poppins, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
    font-family: var(--font-secondary);
    color: var(--text-primary);
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}
section{
    width: 85%;
    margin: 3rem auto;
}

h2 {
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center; 
    color: transparent; 
    background: linear-gradient(to right,  rgb(2, 76, 170,0.9), rgb(38, 150, 233, 0.982)); 
    background-clip: text; /* Applique le dégradé uniquement au texte */
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 auto 2.5rem;
    position: relative;
    max-width: 50%;
}

h2::after {
    content: '';
    display: block;
    width: 80px; 
    height: 3px; 
    background-color: #1D6ABE; 
    margin: 5px auto; 
    border-radius: 2px; 
    transition: width 0.3s ease; 
}

h2:hover::after {
    width: 180px;
    background-color:var(--yellow); 
}
section > div:first-of-type {
    display: flex;
    justify-content: space-between;
}
/* Informations section */
.filiere{
    height: 400px;

}
.filiere #web, .filiere .roadmap, .filiere #mobile{
    width: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filiere #roadmapWeb, .filiere #roadmapMobile{
    display: none;
}
.filiere div img{
    z-index: 10;
    
}
.filiere div h3{
    color: white;
    font-size: 2rem;
    z-index: 10;
}
#web, #mobile{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("images/Web_developers.jfif");
    overflow: hidden; 
}
#mobile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("images/Mobile_developers.jfif");
}
.roadmapBtn{
    background-color: white;
    padding: 0.5rem 1.25rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    z-index: 10;
    display: none;
}
.roadmapBtn:hover{
    background-color: var(--yellow);
}

#web::after, #mobile::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;

}

#web:hover::after, #mobile:hover::after {
    background-color:rgb(39, 68, 114,0.65);
    animation: backColor 0.5s forwards cubic-bezier(.31,.29,.05,.96);

}
#web:hover *, #mobile:hover * {
    transform: translateY(-10px);
    transition: transform 0.3s ease;

}
#web:hover .roadmapBtn , #mobile:hover .roadmapBtn {
    display: block;
    transition: transform 0.3s ease;

}
@keyframes backColor{
    form{
        top: 100%;
    }
    to{
        top: 0%;
    }

}


.roadmap{
    position: relative;
    border: 1px solid var(--border);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.roadmap p {
    font-size: 1rem;
    color: var(--text-primary);
    line-height: 1.5;
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.icon {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#html {
    border-color: #E54D26;
    left: 10%;
    top: 13%;
}

#css {
    border-color: #007CC2;
    left: 30%;
    top: 4%;
}

#javascript {
    border-color: #E9CA32;
    right: 30%;
    top: 4%;
}

#roadmapWeb #php {
    border-color: #5B54F2;
    right: 10%;
    top: 13%;
}
#softskills {
    border-color: #DB3488;
    right: 10%;
    bottom: 13%;
}
#figma {
    border-color: #09CE82;
    right: 30%;
    bottom: 4%;
}
#bootstrap {
    border-color: #8612FB;
    left: 30%;
    bottom: 4%;
}
#react {
    border-color: #61DAFB;
    left: 77%;
    top: 38%;
}

#wordpress {
    border-color: #0F8CC3;
    left: 10%;
    bottom: 13%;
}

#sql {
    border-color: #000;
    right: 77%;
    top: 38%;
}
#kotlin {
    border-color: #F78217;
    left: 40%;
    top: 6%;
}
#roadmapMobile #php {
    border-color: #5B54F2;
    right: 14%;
    top: 12%;
}
#ux-ui {
    border-color:#FECF02;
    left: 77%;
    top: 38%;
}
#datastore {
    border-color: #0F8CC3;
    left: 14%;
    bottom: 13%;
}

#laravel {
    border-color: #FA6F68;
    left: 14%;
    top: 12%;
}
#api {
    border-color: #1A3344;
    right: 40%;
    bottom: 6%;
}
#android{
    border-color: #4EB152;
    right: 14%;
    bottom: 13%;

}
/* chiffres section */
#chiffres {
    justify-content: space-around;
}
.chiffre img{
    width: 75px;
}
.chiffre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.num {
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 600;
}
.title{
    font-size: 1.5rem;
    font-weight: 600;
}

/* temoignage section */

.temVideo{
    height: 355px;

}

.temoignage:hover {
    transform: translateY(-8px);
}

#temoignages-section{
    width: 100%;
    background: linear-gradient(to top, rgb(211, 231, 247,1), rgba(0, 123, 255, 0));

}

#temoignages{
    display: flex;
    overflow: hidden;
     position: relative;
     width: 100%;

}

.temoignage-container {
    display: flex;
    gap: 35px;
    transition: transform 0.5s ease;
    padding: 0.5rem 0 1.5rem ;
}


.temoignage {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex: 0 0 calc(33.33% - 35px);
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-shrink: 0; /* Empêche les témoignages de rétrécir */
    padding: 1.2rem 0;
}
.temoignage > * {
    width: 85%;
    margin: 0 auto;
}
.temoignage span{
    color: var(--text-secondary);
    margin: 0.5rem auto;
}
.temoignage p{
    text-align: justify;
    font-size: 0.85rem;
}
.temoignage img{
    height: 280px;
    border-radius: 10px;
}

.video{
    height: 350px;
}

/* Contact Section */ 

.contact-container{
    display: flex;
    
}
.maps-info{
    width: 50%;
}
.info{
    display: flex;
}
#maps iframe{
    margin: 1.5rem 0 0 0;
    border-radius: 10px;
    width:100%;
    height:415px;
    border:none;
}
.info div{
    display: flex;
    flex-direction: column;
}
.info div:nth-child(1){
    margin-right: 4rem;
}
.info div > *{
    margin: 0.3rem 0;
    font-size: 0.9rem;
}

.form {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:45%;
    background-color: white;
    padding:  0 20px;
    border-radius: 20px;
  }
  .form-title{
        text-align: center;
        margin: 1rem auto  1.5rem;
        font-size: 1.2rem;
        max-width: 600px;
    }
  
  .contact i{
    color:  var(--primary);
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  .form .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    display: block !important;
  }
  
  
  
  .submit {
    border: 1.5px solid var(--primary);
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: var(--primary);
    color: white;
  } 
 




 
 /************** Style the entire scrollbar ****************/
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track { 
    display: none;
}

::-webkit-scrollbar-thumb {    
    display: none;   
}




#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}


.canvas-text {
    position: absolute;
    top: 40vh;
    left: 35%; 
    transform: translateX(-50%); 
    color: white;
    font-size: 1rem; 
    font-family: Arial, sans-serif; 
    text-align:left;
    z-index: 1;
    /* text-shadow: 2px 2px 4px rgba(0, 123, 255, 1);  */
}


.canvas-text h3{
    font-size: xx-large;
    margin-bottom: 2.5rem;
    top: 40vh; 
    left: 30%;
}
.canvas-text p{
    font-size:x-large;
    width: 90%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.navbar {
    top: 0;
    width: 100vw;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20;
}


.scrolled {
    background-color: var(--primary); 
}


.logo {
    width: 12%;
    object-fit: contain;  
    z-index: 20;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 8%;
    font-size: large;
    z-index: 10;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.4rem;
    transition: background-color 0.1s ease-out, border-bottom 0.1s ease-out;
}

.nav-links a:hover {
    color: var(--yellow);
    border-bottom: 1.5px solid var(--yellow);
}


.partners-bar{
    position: absolute;
    top: 85vh;
    width: 100vw;
    height: 15vh;
    background: linear-gradient(to top,  #274472, rgba(0, 123, 255, 0));
}

.tabs{
    margin-top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color:rgb(211, 231, 247) ; */
}

.container{
    width: 90%;
    height: 83%;
    background-color:white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0, .1);
    border-radius: 20px;
}

.tab_box{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.tab_box .tab_btn{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-secondary);
    background-color: transparent;
    border: none;
    padding: 18px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.tab_box .tab_btn.active{
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
}

.content_box{
    padding: 20px;
}

.content_box .content {
    display: none;
    animation: moving .5s ease;
}

@keyframes moving{
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

.content_box .content.active{
    display: block;
    background-size: cover;
    background-position: center;
}


.events{
    background: linear-gradient(to top, rgb(211, 231, 247,1), rgba(0, 123, 255, 0));
    margin-top: 2rem;
    height: 100vh;

}

.wrapper{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-container{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    margin-bottom: 1rem;

}

.card{
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(0.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px #d4d4d4;
}

.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
input {
    display: none;
}

input:checked + label{
    width: 925px;
}


.card[for="c1"]{
    background-image:url('images/formations.png');
}

.card[for="c2"]{
    background-image: url('images/IT-WAVE.png');
}

.card[for="c3"]{
    background-image: url('images/hackathon.jpg') ;
}


.apropos-content{
    display: flex;
    margin: 1.6%;
}

.apropos-content img{
    height: 320px;
    width: 40%;
    border-radius: 18px;
}

.apropos-content p{
    width: 50%;
    text-align: justify;
    font-size: large;
    margin-left: 5%;
    line-height: 25px;
}


.valuesClass{
    display: flex;
    justify-content: space-between;
}
.values{
    width: 30%;
}
.values h3{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    color:var(--primary);
}

.values p{
    margin-top: 24px;
    text-align: justify;

}

.values #student{
    width: 100px;
    height: 70px;
    margin-left: 30%;
    margin-bottom: -55px;
}

.values #innovation{
    width: 70px;
    height:65px;
    margin-left: 37%;
    margin-bottom: -50px;
}

.values #active-learning{
    width: 60px;
    height:45px;
    margin-left: 39%;
    margin-bottom: -50px;
    margin-top: 5px;
}

/* Formateurs */

#formateurs{
    margin: 10px;
   
}
.formateur-groupe{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.formateur{
    width: 30%;
    text-align: center;

}
.formateur > *{
    margin: 0.4rem 0;
}
.formateur p{
    color: var(--text-secondary);
}
#formateurs img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1.5px solid var(--border);

}


.bar-content{
    color: white;
    height: 125px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll-left 30000ms linear infinite; 
}

.bar-content a{
    text-decoration: none;
    color: var(--yellow);
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.footer {
    background: var(--primary);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 2rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
}

.footer-logo .logo {
    max-width: 150px;
    margin-bottom: 10px;
    float: left;
}

.footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-left: 395px;
}

.footer-nav li {
    display: inline;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: var(--yellow);
}

.footer-social {
    margin: 20px 0;
    position: absolute;
    left: 85%;
    top: -20px;
}


.footer-social {
    margin: 20px 0;
    position: absolute;
    left: 85%;
    top: -20px;
}

/* From Uiverse.io by PapaUiiss404 */ 
.card-footer {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
  
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* facebook*/
  .containerTwo:hover {
    background-color: #3b5998;
    transition-duration: 0.3s;
  }
  
  /* YouTube */
  .containerFour:hover {
    background-color: #FF0000;
    transition-duration: 0.3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
  }
  
  
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


.footer-copy {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}


.partenaires {
    height: 200px;
    margin: auto;
    width: 90%;
    background-color:white;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0,0,0, .1);
    border-radius: 20px;
}

.partenaires img{
    display: block;
    width: 140px;
    height: auto;
}
